.additon-sel-hide
	display none
.additon-sel
	position absolute
	top 0
	height 100%
	z-index 9
.addition-sel-bg
	left 0
	background rgba(0,0,0,.7)
	width 100%
.addition-sel-pannel
	right 0
	background white
	width 90%
	
.addition-sel-title
	line-height 3.6rem
	