g_img_w = 5rem
border_styl = 1px solid rgb(240,240,240)

.goods-thumb-img
	width g_img_w
	height g_img_w
	
.goods-item
	padding = 1rem
	border-top border_styl
	padding-top  padding
	padding-bottom  padding