padding-num = 10px

.issue-choose-btns
	button
		padding-top padding-num
		padding-bottom padding-num
		
.issue-title
	letter-spacing 1px

.issue-goods-pic
	// width 5rem
	// height 5rem
	background rgba(0,0,0,0.2)
	&>img
		width 100%
		height 100%