body
	font-family: "Microsoft Yahei"
	
.login-title
	// background: rgb(240,240,240)
	// box-shadow: 0px 4px 10px rgb(220,220,220)
	margin-bottom: 20px;
	letter-spacing: 2px

.login-label
	font-size: 22px
	font-weight: 500
	letter-spacing: 1px
	